{% extends "base.html" %}

{% load crispy_forms_tags %}
{% block content %}
<div class="container ">
	<div class="row">
		<div class="col-12">
			<h1 class='text-center h1'>Log in</h1>

		</div>
		<div class="col-12 d-flex justify-content-center">
			{% if user.is_authenticated %}
<p class='text-center h3'>You are login!.<br/><br/></p>
{% else %}
<form method="post" action="">
		{% csrf_token %}
<dl class="register">   
{% for field in form %}
    <dd class="clearfix">{{ field|as_crispy_field  }}
    {% if field.help_text %}<div class="clearfix">{{ field.help_text }}</div>{% endif %}
    {% if field.errors %}<div class="myerrors clearfix">{{ field.errors }}</div>{% endif %}
    </dd>
{% endfor %}
</dl>
<input type="submit" value="Вход" class="btn btn-primary">
</form>
    


{% endif %}




</div>

{% endblock %}